body {
    background-color: #222222;
    COLOR: #FFF;
}

#field {
    position: relative;
}

.tile, .menutile {
    width: 50px;
    height: 50px;
    display: inline-block;
    outline: 1px solid #565656;
    text-align: center;
    padding: 2px;
    font-size: 13px;
    overflow: hidden;
}

.tile {
    position: absolute;
    text-align: left;
    font-family: monospace
}

#menu-h1.active, .tile.h1 {
    background-color: #aacd4e;
}

#menu-h2.active, .tile.h2 {
    background-color: #5eb5e0;
}

#menu-h3.active, .tile.h3 {
    background-color: #ffcc00;
}

#menubar {
    margin-bottom: 5px;
}
